@model IEnumerable<aspnet03_portfolioWebApp.Models.PortfolioModel>;
@{
    ViewData["Title"] = "홈";
    Layout = "~/Views/Shared/_NewNewLayout.cshtml";
}

<!-- Shared 밑에 있는 _Notification.cshtml을 Index.cshtml에 포함시킴 -->
<partial name="_Notification" />

<!-- 홈 -->
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/themes/startbootstrap-freelancer-gh-pages/assets/img/soo.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="text-uppercase mb-0 text-secondary masthead-heading">Welcome</h1>
        <!-- Icon Divider-->
        <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
        </div>
        <p class="masthead-subheading text-dark font-weight-light mb-0">IoT 시스템 개발자를 꿈꾸는 최수정입니다.</p><br><br><br><br>


        <!-- Icon Divider-->
        @*<div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>*@
        <!-- Masthead Subheading-->
@*        <p class="masthead-subheading font-weight-light mb-0 text-secondary">최수정</p><br />
        <p class="masthead-subheading font-weight-light mb-0 text-secondary">1998.07.22</p><br />
        <p class="masthead-subheading font-weight-light mb-0 text-secondary">동아대 전자공학과 졸업</p><br />
        <p class="masthead-subheading font-weight-light mb-0 text-secondary">부경대 IoT 시스템 개발자 교육 수료중</p><br />
        <p class="masthead-subheading font-weight-light mb-0 text-secondary"></p><br />*@
    </div>
</header>

<!-- 소개 -->
<section class="page-section bg-secondary text-secondary mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">About Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div><br><br>
        <!-- About Section Content-->      
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">
                    <h4 class="text-secondary">Education</h4>
                    <br>남성여자고등학교 졸업<br />(2014.03~2017.02)<br /><br />동아대학교 전자공학과 졸업(2017.03~2022.02)<br><br><br><br>
                    <h4 class="text-secondary">📚 Studying 📚</h4>
                    <img class="align-content-center" src="https://img.shields.io/badge/Python-3776AB?style=flat-square&logo=Python&logoColor=white"><br>
                    <img class="align-content-center" src="https://img.shields.io/badge/MySQL-4479A1?style=flat-square&logo=MySQL&logoColor=white"><br>
                    <img class="align-content-center" src="https://img.shields.io/badge/C-A8B9CC?style=flat-square&logo=C&logoColor=white"><br><br><br>
                </p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead">
                    <h4 class="text-secondary">Experience</h4>
                    <br>부경대 IoT 시스템 개발자 교육 이수 중(2023.01.30~2023.09.01)<br><br><br><br><br><br>
                    <h4 class="text-secondary">🔨 Tools 🔨</h4>
                    <img class="align-content-center" src="https://img.shields.io/badge/GitHub-181717?style=flat-square&logo=GitHub&logoColor=white"><br>
                    <img class="align-content-center" src="https://img.shields.io/badge/VSCode-007ACC?style=flat-square&logo=VisualStudioCode&logoColor=white"><br>
                    <img class="align-content-center" src="https://img.shields.io/badge/Notion-000000?style=flat-square&logo=Notion&logoColor=white"><br><br>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">
                    
                </p>
            </div>
            <div class="col-lg-4 ms-auto">
                <p class="lead">
                    
                </p>
            </div>
        </div>

    </div>
</section>

<!-- 포트폴리오 영역 -->
<section class="page-section bg-primary text-white mb-0 " id="portfolio">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div> <!-- Add an empty column to create space on the left -->
            <div class="col-lg-4">
                <div class="section-heading text-center">
                    <h4 class="text-center text-secondary">클릭 시 해당 Project Github URL로 이동합니다.</h4>
                </div>
            </div>
            <div class="col-lg-4"></div> <!-- Add an empty column to create space on the right -->
        </div>
    </div>
    <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
        <div class="row">
            <div class="col-lg-12">
                <div class="loop owl-carousel">
                    @if (Model.Count() > 0)
                    {
                        var loop = 1;
                        foreach (var item in Model)
                        {
                            if (loop % 2 == 1)
                            {
                                @Html.Raw("<div class='item'>")
                                ;
                            }
                            //동적으로 포트폴리오 이미지 객체를 만들어주는 파트
                            @Html.Raw("<div class='portfolio-item'>" +
                    "  <div class='thumb'>" +
                    $"    <img src='/uploads/{item.FileName}' width='445' height='420'>" +
                    "    <div class='hover-content'>" +
                    "      <div class='inner-content'>" +
                    $"        <a href='{item.Url}' target='_blank'><h4>{item.Title}</h4></a>" +
                    $"        <span>{item.Description}</span>" +
                    "      </div>" +
                    "    </div>" +
                    "  </div>" +
                    "</div>")
                            ;


                            if (loop % 2 == 0)
                            {
                                @Html.Raw("</div>")
                                ;
                            }
                            loop++;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 문의하기 -->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                        <label for="name">Full name</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email">Email address</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">Phone number</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Message</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <button class="btn btn-primary btn-xl disabled " id="submitButton" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>
